@charset "UTF-8";

.wrapper{
  width: 100%;
  margin: 0 auto;
  background: #cff1ff;
}

.container{
  margin: 0 auto;
  width: 600px;
}

h1{
  text-align: center;
  margin-top: 60px;
  font-size: 28px;
}